# -*- mode: conf -*-
[server]
# deployment config of the GitHub App
http_ip = "0.0.0.0"
http_port = 5900
log_level = "info" # debug|info|warn|error
stop_file = "config/stop-server"
bm_runner = "travis" # travis|self

[github]
# the information of the bot account
user = "TuringBenchBot"
email = "TuringBenchBot@email.com"
token = "PRIVATE_INFO"

# The benchmark report will be committed to this repo
report_repo = "TuringLang/ContinuousBenchmarks.jl"
report_branch = "report"

# Auth Information of the GitHub App
app_id = 1000
priv_pem = "config/xxxx.pem"
secret = "the webhook secret"

[target]
# Target repository: we will run benchmarks for this repo
repo = "TuringLang/Turing.jl"
use_remote_branches = true
project_dir = "."
benchmark_config_file = "benchmarks/benchmark_config.jl"
